<ion-view view-title="">


  <ion-content style='background-color: #123661'>
 

 <div style="background-color: #112a48;
    color: white;
    text-align: center;">

 	<img style=' height: 70px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
' src="img/iconcaidas.png"> 

 	<div style="    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 19px;">Deteccion Automatica <br> De Caidas</div>
 </div>

		<div style="    text-align: center;margin-top: 29px;">

		<span style='      margin-top: 5px;
    display: inline-block;  margin-right: 15px;vertical-align: top; font-size: 20px; color: lightgray' >OFF</span>

		<label class="toggle">
		   <input type="checkbox">
		   <div class="track">
		     <div class="handle"></div>
		   </div>
		</label>

		<span style='       margin-top: 5px;
    display: inline-block; margin-left: 15px;vertical-align: top; font-size: 20px; color: lightgray' >ON</span>

		</div>



  </ion-content>

	<div class="bar bar-footer bar-balanced">


	<img ng-show='!modos.modo3' style='height: calc(85% + 40px);
    margin-top: -27px;
    margin-left: 1px;' src="img/button-yellow-small.png" > 

    <img ng-show='modos.modo3' style='height: calc(85% + 40px);
    margin-top: -27px;
    margin-left: 1px;' src="img/button-yellow-big.png" ng-click='reset()' > 



    <div style="    position: RELATIVE;
    width: 100%;
    text-align: center;    margin-top: 8px;">
    	
    	<div style="display: inline-block;"> <span style="    font-size: 35px;">{{getMinutes(counter)}}</span>  <br> <span>MINUTOS</span>  </div>

    	<div style="    width: 3px;
    display: inline-block;
    background-color: white;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;"></div>

    	<div style="display: inline-block;"><span style="    font-size: 35px;">{{counter % 60}}</span>  <br> <span>SEGUNDOS</span>  </div>

    </div>


	</div>



</ion-view>
