<ion-view view-title="">


<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>



<img src='img/bg-blue.png' style="    position: absolute;height: 100%;width: 100%;">


  <ion-content >



 <a  ui-sref="app.deteccionCaida" style='    width: 80%;
    margin-left: 10%;
    height: 123px;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;'  class="button ">



 		<img style="    display: inline-block;
    position: absolute;
    left: 10px;
    top: 13px;
    width: 30%;" src="img/iconcaidas.png">



 		<div style="      display: inline-block;
    width: 85%;
    height: 100%;
    line-height: 24px;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 35px;">Deteccion<br>Automatica<br>De Caidas</div>


 		<img style="      width: 25px;
    position: absolute;
    margin-top: 34px;
    right: 16px;" src="img/arrowmore.png">
 		</a>






 <a ui-sref="app.confirmacionPresencia" style='    width: 80%;
    margin-left: 10%;
    height: 123px;
    background-color: white;
    border-radius: 20px;
    margin-top: 15px;'  class="button ">


 
 		<img style="    display: inline-block;
    position: absolute;
    left: 10px;
    top: 13px;
    width: 30%;" src="img/iconconfirmacion.png">



 		<div style="      display: inline-block;
    width: 85%;
    height: 100%;
    line-height: 24px;
    font-size: 18px;
    padding-top: 34px;
    padding-left: 35px;">Confirmacion<br> de presencia</div>


 		<img style="      width: 25px;
    position: absolute;
    margin-top: 39px;
    right: 16px;" src="img/arrowmore.png">
 		</a>






  </ion-content>
</ion-view>
