/* Empty. Add your own CSS if you like */


.bar-darks{

	background-color: #1b5292;
	height: 70px;
	    color: white !important;
}

.has-header {
    top: 70px !important;
}


.bar-footer {

    height: 120px !important;

}

.bar.bar-balanced {
    border-color: #28a54c;
    background-color: #f08121;

}

.iconDelete{
	    margin-left: 8PX;
    font-size: 23px;
    color: #ed5564;
    vertical-align: middle;
}


.perfilC span{

	       display: block;
    color: white;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 18px;
}


.perfilC input{

width: 90%;

}


.bar .title {

    padding-top: 10px;
}


.bar .button.button-clear {

    padding-top: 10px;
    color: white !important;
}


