/* Empty. Add your own CSS if you like */


.bar-darks{

	background-color: #1b5292 !important;
	height: 70px !important;
	    color: white !important;
}

.has-header {
    top: 70px !important;
}


.bar-footer {

    height: 120px !important;

}

.bar.bar-balanced {
    border-color: #28a54c !important;
    background-color: #f08121 !important;

}

.iconDelete{
	    margin-left: 8PX !important;
    font-size: 23px !important;
    color: #ed5564;
    vertical-align: middle;
}


.perfilC span{

	       display: block;
    color: white;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 18px;
}


.perfilC input{

width: 90%;

}


.bar .title {

    padding-top: 10px !important;
}


.bar .button.button-clear {

    padding-top: 10px !important;
    color: white  !important;
}


